<!DOCTYPE html>
<html>
    <head>
        <title>PinUp</title>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="/css/AdminVerEstudiantes.css">
		<meta name="viewport" content="initial-scale=1.0,width=device-width">		
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    </head>
        <body>
            <div class="logo">
                <img id="photo" src="../img/foto.jpg">
                <img id="logo" src="../img/logo.png">
            </div>
            <!-- https://www.javascripttutorial.net/javascript-dom/javascript-form/-->
            <form action="/action_page.php">
               <label>LISTAS DE ESTUDIANTES</label>
               <div class="students">
                <% for(let i=0;i<10;i++){ %>
                    <div class="student">

                    </div>
                <% } %>
               </div>
               <a href="/AdminVerProfesores"><input type="button" id="button" value="INICIO"></a>
            </form>            
        </body>
</html>